@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* skill section */
 .skills_1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.wrapper {
  box-sizing: border-box;
  margin: auto;
  margin-top: 50px;
}

.items {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(131.83deg, #fffafa 0%, #fff7f7 99.21%);
  width: 300px;
  text-align: center;
  height: 100px;
  position: relative;
}

.item:not(:last-child) {
  margin-right: 100px;
}
.item::before {
  position: absolute;
  content: "";
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-image: linear-gradient(
    312.25deg,
    #ffc4bc 0%,
    rgba(255, 255, 255, 0) 66.19%
  );
  z-index: -1;
}

.inner {
  background-color: #fff;
  width: 250px;
  display: flex;
  justify-content: space-around;
  height: 60px;
  box-shadow: 0 40px 80px #fbe4e0;
  border-radius: 5px;
  align-items: center;
}

.inner img {
  height: 60px;
  width: 60px;
}
.inner p {
  font-size: 27px;
  font-family: Fantasy;
  text-decoration: underline;
  color: rgb(34, 181, 254);
}
.MAIN {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -47%);
  width: 80vw;
  height: 75vh;
  display: fle;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(
    132deg,
    rgb(2, 106, 122) 0%,
    rgb(242, 78, 163) 100%
  );
}
.MainConnect {
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

@media screen and (max-width: 600px) {
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(131.83deg, #fffafa 0%, #fff7f7 99.21%);
    width: 250px;
    text-align: center;
    height: 90px;
  }
  .MAIN {
    display: flex;
    background: linear-gradient(
      62deg,
      rgb(21, 213, 235) 0%,
      rgb(255, 0, 191) 100%
    );
    overflow-y: scroll;
    margin-bottom: 3%;
  }
}
/* styles of contact page */
.Maincontent {
  background-color: #12343b;
  height: fit-content;
  width: 97%;
  border-radius: 10px;
}
.Mainconnect_head {
  padding: 2rem;
}
.Mainconnect_head p {
  font-size: 1.5rem;
  color: #fbe4e0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  margin-left: 10px;
}
.Mainconnect_head h1 {
  margin-left: 10px;
  color: snow;
  font-weight: 400;
  padding-block: 0.4rem;
  font-size: 2.4rem;
  font-family: "Times New Roman", Times, serif;
}
.Mainconnect_contact {
  margin-top: -2rem;
  display: flex;
  justify-content: space-between;
}

.Maincontent_left form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.Maincontent_left form input {
  padding: 1rem;
  background: none;
  border: none;
  border: 1px solid snow;
  color: #fbe4e0;
  width: 35vw;
  border-radius: 5px;
  margin: 0.7rem;
}
.Maincontent_left form textarea {
  padding: 1rem;
  padding-top: 3rem;
  background: none;
  border: none;
  border: 1px solid snow;
  color: #fbe4e0;
  width: 35vw;
  border-radius: 5px;
  margin: 0.7rem;
}
.Maincontent_left form button {
  padding: 1rem;
  border: 1px solid snow;
  margin: 0.7rem;
  cursor: pointer;
}
.Maincontent_right {
  margin-top: 1rem;
  width:30vw;
  border: 1px solid snow;
  height: max-content;
  border-radius: 10px;
  padding-bottom: 0.7rem;
  text-align: center;
  margin-right: 10rem;
}
.Maincontent_right p{
  color: tan;
  padding: 1.5rem;
  user-select: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Maincontent_right ul li{
  text-decoration: none;
  list-style: none;
  padding-block: 0.7rem;

}
.Maincontent_right ul li a {
  text-decoration: none;
  color: snow;
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Maincontent_right ul li a:hover {
  color: #fbe4e0;
}
.Maincontent_right ul li i{
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .Mainconnect_contact {
    text-align: center;
  }
  .Mainconnect_head h1 {
    font-size: 2.1rem;
    padding-block: 0.4rem;
  }
  .Mainconnect_contact {
    display: block;
    flex-direction: column;
    margin-left: -10px;
  }
  .Maincontent_left form input {
    width: 92%;
    margin-inline: 0;
  }
  .Maincontent_left form textarea {
    width: 92%;
    margin: 0;
  }
  .Maincontent_right {
    text-align: center;
    width: 92%;
    margin: 1rem;
  }
} 

