.Box {
  background-color: rgba(0, 0, 0, 0.953);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.Logo {
  padding: 20px 20px;
  text-decoration: underline;
}
.Social_Links ul {
  display: flex;
  justify-content: space-evenly;
}
.Social_Links ul li a {
  font-size: 19px;
  text-decoration: none;
  color: greenyellow;
}
.Main_Content {
  border: 2px solid grey;
  color: aliceblue;
  width: 50vw;
  z-index: 3;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.6rem + 1vw);
  backdrop-filter: blur(4px);
  position: absolute;
  left: calc(3rem + 2vw);
  top: 8.3rem;
  font-family: "Ubuntu Mono", monospace;
  font-style: italic;
}
.Main_Content .Main {
  width: 71vw;
  padding: 0.6rem;
  height: 65vh;
}

@media screen and (max-width: 800px) {
  .Main_Content .Main{
    overflow-y: scroll;
  }
  .Main_Content {
    height: auto;
    width: 75vw;
    border-radius: 5px;
  }
  .Social_Links ul {
    display: flex;
    flex-direction: column;
  }
}
