.Box {
  background-color: rgba(0, 0, 0, 0.953);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.Logo {
  padding: 20px 20px;
  text-decoration: underline;
}
.Social_Links ul {
  display: flex;
  justify-content: space-evenly;
}
.Social_Links ul li a {
  font-size: 19px;
  text-decoration: none;
  color: greenyellow;
}
.Main {
  border: 2px solid white;
  color: aliceblue;
  padding: 2rem;
  width: 51vw;
  height: 65vh;
  z-index: 3;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.6rem + 1vw);
  backdrop-filter: blur(4px);
  position: absolute;
  left: calc(3rem + 5vw);
  top: 9.3rem;
  font-family: "Ubuntu Mono", monospace;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .Main {
    overflow: scroll;
  }
  .Main_Content {
    height: 100vh;
  }
  .Social_Links ul {
    display: flex;
    flex-direction: column;
  }
}
