@media screen and (max-width: 600px) {
  .Maincontent_left form input {
    width: 90vw;
    margin-left: -10px;
  }
  .Maincontent_left form textarea {
    margin-left: -10px;
    width: 90vw;
  }
  .Maincontent_left form {
    
  }
}
